@import play.mvc.Http.Request
@(pForm: Form[Person], id:Long)(implicit request: Request, messages: play.i18n.Messages)

@main("Please enter your information") {
@helper.form(action = routes.HomeController.updateOk(id)) {
@helper.CSRF.formField
@helper.inputText(pForm("firstname")) 
@helper.select(field = pForm("age"),options = Seq("18"->"18", "19"->"19","20"->"20", "21"->"21", "22"->"22", "23"->"23", "24"->"24","25"->"25"))
@helper.select(field = pForm("statut"),options = Seq("0"->"membre", "1"->"admin"))
<input type="submit" value="Say hello"/> }
}